- active_nav_item :home
- @full_header = true
- @page_title = 'Welcome'

.home
  %p.browse= link_to "Busqueda de catalogo", catalogue_path
  %h2 Mas Destacados!!! (precios no incluyen IVA)


= render 'shared/product_list', :products => @products.includes(:default_image)
